<a href="https://colab.research.google.com/github/19valentynca/deep-learning-challenge/blob/main/Starter_Code_Challenge_21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
x = application_df.drop(columns=['EIN', 'NAME'])
x.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
counts = x.nunique()
counts

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
app_type_values = x["APPLICATION_TYPE"].value_counts()
app_type_values

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_type_values[app_type_values<500].index)
print(application_types_to_replace) # we see all the APPLICATION_TYPES that didn't meet the minimum
print('---------------------------')

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']
---------------------------

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
classification_values = x["CLASSIFICATION"].value_counts()
classification_values

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
new_class_types = classification_values[classification_values>1]
new_class_types

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classification_types_to_replace = list(classification_values[classification_values<1000].index)
print(classification_types_to_replace) # we see all the CLASSIFICATIONS that didn't meet the minimum
print('---------------------------')

# Replace in dataframe
for cls in classification_types_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

['C7000', 'C1700', 'C4000', 'C5000', 'C1270', 'C2700', 'C2800', 'C7100', 'C1300', 'C1280', 'C1230', 'C1400', 'C7200', 'C2300', 'C1240', 'C8000', 'C7120', 'C1500', 'C1800', 'C6000', 'C1250', 'C8200', 'C1238', 'C1278', 'C1235', 'C1237', 'C7210', 'C2400', 'C1720', 'C4100', 'C1257', 'C1600', 'C1260', 'C2710', 'C0', 'C3200', 'C1234', 'C1246', 'C1267', 'C1256', 'C2190', 'C4200', 'C2600', 'C5200', 'C1370', 'C1248', 'C6100', 'C1820', 'C1900', 'C1236', 'C3700', 'C2570', 'C1580', 'C1245', 'C2500', 'C1570', 'C1283', 'C2380', 'C1732', 'C1728', 'C2170', 'C4120', 'C8210', 'C2561', 'C4500', 'C2150']
---------------------------

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
apps_dummies = pd.get_dummies(application_df)
apps_dummies.head()

,EIN,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_1 DAY RANCH RESCUE AND RURAL OKLAHOMA ANIMAL RESOURCE INC,NAME_100 BLACK MEN OF AMERICA,NAME_100 BLACK MEN OF MEMPHIS INC,NAME_100 BLACK MEN OF WEST GEORGIA INC,NAME_1150 WEBSTER STREET INC,NAME_116TH CAVALRY REGIMENT CHAPTER OF THE US CAVALRY & ARMOR ASSOCIATION,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,10520599,1,5000,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,10531628,1,108590,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,10547893,1,5000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,10553066,1,6692,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,10556103,1,142590,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [10]:
# Split our preprocessed data into our features and target arrays
X = apps_dummies.drop(columns=['IS_SUCCESSFUL'])
y = apps_dummies['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
x_train, x_test, y_train, y_test = train_test_split(X, y, random_state=50)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
x_scaler = scaler.fit(x_train)

# Scale the data
x_train_scaled = x_scaler.transform(x_train)
x_test_scaled = x_scaler.transform(x_test)

## Compile, Train and Evaluate the Model

In [15]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = len(X.columns)

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=80, input_dim=input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=35, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                1569040

 dense_1 (Dense)             (None, 35)                2835

 dense_2 (Dense)             (None, 1)                 36

=================================================================
Total params: 1,571,911
Trainable params: 1,571,911
Non-trainable params: 0
_________________________________________________________________

In [16]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [17]:
# Train the model
trained_model = nn.fit(x_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 23s 27ms/step - loss: 0.4871 - accuracy: 0.7640
Epoch 2/100
804/804 [==============================] - 23s 28ms/step - loss: 0.1289 - accuracy: 0.9537
Epoch 3/100
804/804 [==============================] - 22s 28ms/step - loss: 0.0974 - accuracy: 0.9613
Epoch 4/100
804/804 [==============================] - 23s 29ms/step - loss: 0.0944 - accuracy: 0.9619
Epoch 5/100
804/804 [==============================] - 25s 31ms/step - loss: 0.0925 - accuracy: 0.9619
Epoch 6/100
804/804 [==============================] - 22s 27ms/step - loss: 0.0918 - accuracy: 0.9615
Epoch 7/100
804/804 [==============================] - 22s 28ms/step - loss: 0.0911 - accuracy: 0.9623
Epoch 8/100
804/804 [==============================] - 22s 27ms/step - loss: 0.0910 - accuracy: 0.9625
Epoch 9/100
804/804 [==============================] - 23s 28ms/step - loss: 0.0898 - accuracy: 0.9628
Epoch 10/100
804/804 [==============================] - 22s 27ms/step - loss: 0.0888 - accuracy: 0.9630
Epoch 11/100
804/804 [==============================] - 21s 27ms/step - loss: 0.0885 - accuracy: 0.9637
Epoch 12/100
804/804 [==============================] - 22s 28ms/step - loss: 0.0876 - accuracy: 0.9635
Epoch 13/100
804/804 [==============================] - 20s 25ms/step - loss: 0.0874 - accuracy: 0.9640
Epoch 14/100
804/804 [==============================] - 21s 27ms/step - loss: 0.0866 - accuracy: 0.9640
Epoch 15/100
804/804 [==============================] - 22s 27ms/step - loss: 0.0861 - accuracy: 0.9646
Epoch 16/100
804/804 [==============================] - 23s 28ms/step - loss: 0.0857 - accuracy: 0.9646
Epoch 17/100
804/804 [==============================] - 22s 27ms/step - loss: 0.0856 - accuracy: 0.9647
Epoch 18/100
804/804 [==============================] - 22s 27ms/step - loss: 0.0849 - accuracy: 0.9647
Epoch 19/100
804/804 [==============================] - 22s 27ms/step - loss: 0.0840 - accuracy: 0.9651
Epoch 20/100
804/804 [==============================] - 24s 29ms/step - loss: 0.0838 - accuracy: 0.9659
Epoch 21/100
804/804 [==============================] - 22s 27ms/step - loss: 0.0836 - accuracy: 0.9659
Epoch 22/100
804/804 [==============================] - 23s 28ms/step - loss: 0.0830 - accuracy: 0.9658
Epoch 23/100
804/804 [==============================] - 22s 28ms/step - loss: 0.0830 - accuracy: 0.9666
Epoch 24/100
804/804 [==============================] - 23s 28ms/step - loss: 0.0823 - accuracy: 0.9665
Epoch 25/100
804/804 [==============================] - 24s 29ms/step - loss: 0.0820 - accuracy: 0.9665
Epoch 26/100
804/804 [==============================] - 20s 25ms/step - loss: 0.0810 - accuracy: 0.9669
Epoch 27/100
804/804 [==============================] - 24s 30ms/step - loss: 0.0811 - accuracy: 0.9675
Epoch 28/100
804/804 [==============================] - 21s 26ms/step - loss: 0.0806 - accuracy: 0.9675
Epoch 29/100
804/804 [==============================] - 23s 28ms/step - loss: 0.0803 - accuracy: 0.9674
Epoch 30/100
804/804 [==============================] - 23s 29ms/step - loss: 0.0797 - accuracy: 0.9675
Epoch 31/100
804/804 [==============================] - 23s 29ms/step - loss: 0.0793 - accuracy: 0.9670
Epoch 32/100
804/804 [==============================] - 21s 26ms/step - loss: 0.0791 - accuracy: 0.9680
Epoch 33/100
804/804 [==============================] - 22s 27ms/step - loss: 0.0786 - accuracy: 0.9677
Epoch 34/100
804/804 [==============================] - 22s 27ms/step - loss: 0.0785 - accuracy: 0.9679
Epoch 35/100
804/804 [==============================] - 22s 27ms/step - loss: 0.0780 - accuracy: 0.9680
Epoch 36/100
804/804 [==============================] - 24s 29ms/step - loss: 0.0780 - accuracy: 0.9682
Epoch 37/100
804/804 [==============================] - 23s 29ms/step - loss: 0.0776 - accuracy: 0.9680
Epoch 38/100
804/804 [==============================] - 24s 30ms/step - loss: 0.0772 - accuracy: 0.9684
Epoch 39/100
804/804 [==============================] - 23s 28ms/step - loss: 0.0767 - accuracy: 0.9686
Epoch 40/100
804/804 [==============================] - 20s 25ms/step - loss: 0.0769 - accuracy: 0.9689
Epoch 41/100
804/804 [==============================] - 21s 26ms/step - loss: 0.0767 - accuracy: 0.9683
Epoch 42/100
804/804 [==============================] - 22s 28ms/step - loss: 0.0761 - accuracy: 0.9685
Epoch 43/100
804/804 [==============================] - 22s 27ms/step - loss: 0.0759 - accuracy: 0.9684
Epoch 44/100
804/804 [==============================] - 21s 26ms/step - loss: 0.0758 - accuracy: 0.9689
Epoch 45/100
804/804 [==============================] - 22s 28ms/step - loss: 0.0755 - accuracy: 0.9687
Epoch 46/100
804/804 [==============================] - 22s 27ms/step - loss: 0.0750 - accuracy: 0.9689
Epoch 47/100
804/804 [==============================] - 23s 29ms/step - loss: 0.0750 - accuracy: 0.9687
Epoch 48/100
804/804 [==============================] - 21s 26ms/step - loss: 0.0746 - accuracy: 0.9696
Epoch 49/100
804/804 [==============================] - 21s 26ms/step - loss: 0.0747 - accuracy: 0.9689
Epoch 50/100
804/804 [==============================] - 20s 25ms/step - loss: 0.0742 - accuracy: 0.9691
Epoch 51/100
804/804 [==============================] - 22s 27ms/step - loss: 0.0740 - accuracy: 0.9695
Epoch 52/100
804/804 [==============================] - 21s 26ms/step - loss: 0.0743 - accuracy: 0.9692
Epoch 53/100
804/804 [==============================] - 22s 27ms/step - loss: 0.0741 - accuracy: 0.9689
Epoch 54/100
804/804 [==============================] - 22s 27ms/step - loss: 0.0740 - accuracy: 0.9695
Epoch 55/100
804/804 [==============================] - 22s 28ms/step - loss: 0.0734 - accuracy: 0.9700
Epoch 56/100
804/804 [==============================] - 22s 28ms/step - loss: 0.0734 - accuracy: 0.9696
Epoch 57/100
804/804 [==============================] - 21s 26ms/step - loss: 0.0734 - accuracy: 0.9700
Epoch 58/100
804/804 [==============================] - 23s 28ms/step - loss: 0.0733 - accuracy: 0.9693
Epoch 59/100
804/804 [==============================] - 21s 26ms/step - loss: 0.0727 - accuracy: 0.9704
Epoch 60/100
804/804 [==============================] - 21s 26ms/step - loss: 0.0726 - accuracy: 0.9698
Epoch 61/100
804/804 [==============================] - 23s 29ms/step - loss: 0.0729 - accuracy: 0.9700
Epoch 62/100
804/804 [==============================] - 22s 27ms/step - loss: 0.0724 - accuracy: 0.9702
Epoch 63/100
804/804 [==============================] - 21s 26ms/step - loss: 0.0720 - accuracy: 0.9699
Epoch 64/100
804/804 [==============================] - 23s 28ms/step - loss: 0.0723 - accuracy: 0.9705
Epoch 65/100
804/804 [==============================] - 22s 28ms/step - loss: 0.0719 - accuracy: 0.9707
Epoch 66/100
804/804 [==============================] - 22s 27ms/step - loss: 0.0720 - accuracy: 0.9702
Epoch 67/100
804/804 [==============================] - 22s 28ms/step - loss: 0.0716 - accuracy: 0.9704
Epoch 68/100
804/804 [==============================] - 22s 27ms/step - loss: 0.0715 - accuracy: 0.9706
Epoch 69/100
804/804 [==============================] - 22s 27ms/step - loss: 0.0713 - accuracy: 0.9706
Epoch 70/100
804/804 [==============================] - 23s 29ms/step - loss: 0.0712 - accuracy: 0.9706
Epoch 71/100
804/804 [==============================] - 22s 28ms/step - loss: 0.0716 - accuracy: 0.9706
Epoch 72/100
804/804 [==============================] - 20s 25ms/step - loss: 0.0709 - accuracy: 0.9706
Epoch 73/100
804/804 [==============================] - 22s 28ms/step - loss: 0.0707 - accuracy: 0.9709
Epoch 74/100
804/804 [==============================] - 21s 27ms/step - loss: 0.0706 - accuracy: 0.9706
Epoch 75/100
804/804 [==============================] - 20s 25ms/step - loss: 0.0708 - accuracy: 0.9704
Epoch 76/100
804/804 [==============================] - 20s 25ms/step - loss: 0.0709 - accuracy: 0.9712
Epoch 77/100
804/804 [==============================] - 20s 25ms/step - loss: 0.0703 - accuracy: 0.9704
Epoch 78/100
804/804 [==============================] - 22s 27ms/step - loss: 0.0700 - accuracy: 0.9711
Epoch 79/100
804/804 [==============================] - 22s 27ms/step - loss: 0.0700 - accuracy: 0.9713
Epoch 80/100
804/804 [==============================] - 22s 27ms/step - loss: 0.0702 - accuracy: 0.9712
Epoch 81/100
804/804 [==============================] - 22s 27ms/step - loss: 0.0703 - accuracy: 0.9710
Epoch 82/100
804/804 [==============================] - 23s 29ms/step - loss: 0.0698 - accuracy: 0.9715
Epoch 83/100
804/804 [==============================] - 19s 23ms/step - loss: 0.0695 - accuracy: 0.9714
Epoch 84/100
804/804 [==============================] - 22s 27ms/step - loss: 0.0700 - accuracy: 0.9706
Epoch 85/100
804/804 [==============================] - 22s 28ms/step - loss: 0.0692 - accuracy: 0.9710
Epoch 86/100
804/804 [==============================] - 22s 28ms/step - loss: 0.0695 - accuracy: 0.9712
Epoch 87/100
804/804 [==============================] - 22s 27ms/step - loss: 0.0690 - accuracy: 0.9712
Epoch 88/100
804/804 [==============================] - 23s 28ms/step - loss: 0.0685 - accuracy: 0.9721
Epoch 89/100
804/804 [==============================] - 23s 29ms/step - loss: 0.0692 - accuracy: 0.9715
Epoch 90/100
804/804 [==============================] - 23s 28ms/step - loss: 0.0692 - accuracy: 0.9712
Epoch 91/100
804/804 [==============================] - 21s 26ms/step - loss: 0.0690 - accuracy: 0.9710
Epoch 92/100
804/804 [==============================] - 22s 28ms/step - loss: 0.0690 - accuracy: 0.9717
Epoch 93/100
804/804 [==============================] - 22s 27ms/step - loss: 0.0689 - accuracy: 0.9715
Epoch 94/100
804/804 [==============================] - 21s 26ms/step - loss: 0.0690 - accuracy: 0.9710
Epoch 95/100
804/804 [==============================] - 22s 27ms/step - loss: 0.0688 - accuracy: 0.9713
Epoch 96/100
804/804 [==============================] - 23s 28ms/step - loss: 0.0683 - accuracy: 0.9714
Epoch 97/100
804/804 [==============================] - 23s 28ms/step - loss: 0.0683 - accuracy: 0.9712
Epoch 98/100
804/804 [==============================] - 24s 29ms/step - loss: 0.0682 - accuracy: 0.9718
Epoch 99/100
804/804 [==============================] - 24s 30ms/step - loss: 0.0681 - accuracy: 0.9714
Epoch 100/100
804/804 [==============================] - 25s 31ms/step - loss: 0.0682 - accuracy: 0.9713

In [18]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(x_test_scaled, y_test, verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 1.0491 - accuracy: 0.6268 - 1s/epoch - 5ms/step
Loss: 1.0491009950637817, Accuracy: 0.6268221735954285

In [ ]:
# Export our model to HDF5 file
nn.save('../AlphabetSoupCharity_Optimization.h5')